.messages-page {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    margin-top: 70px;
  }
  
  .sidebar {
    width: 25%; /* Keep the sidebar at 25% width */
    border-right: 1px solid var(--text-color);
    padding: 20px;
    overflow-y: auto;
  }
  
  .likes-matches {
    margin-bottom: 20px;
  }
  
  .likes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .like-card {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  
  .like-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .like-card p {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
  }
  
  .messages-list {
    margin-top: 20px;
  }

  .unread-indicator {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1; /* Ensure it appears on top */
  }
  
  .conversation {
    display: flex;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
    background-color: rgba(0, 123, 255, 0.2);
    position: relative; /* Needed to position the red dot */
    margin-top: 3px;

    align-items: center; 
  }

  .conversation-picture {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
  }
  
  .conversation:hover,
  .conversation.active {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
  }
  
  .conversation-details {
    display: flex;
    flex-direction: column;
  }
  
  .conversation-name {
    font-weight: bold;
    font-size: 14px;
  }
  
  .conversation-last-message {
    font-size: 12px;
    opacity: 0.8;
  }


  
  .chat-area {
    width: 50%; /* Reduce the width of the chat container */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better separation */
    background-color: var(--background-color);
    border-radius: 10px; /* Optional: rounded corners */
  }
  
  .chat-messages {
    flex-grow: 1;
    overflow-y: auto; /* Enable scrolling */
    display: flex;
    flex-direction: column-reverse; /* Start from the bottom */
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out; /* Smooth movement for reordering */
    padding-bottom: 35px;
    padding-top: 20px;
  }

  .chat-input-container {
    position: sticky;
    bottom: 0;
    background-color: var(--background-color);
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for a navbar-like effect */
    z-index: 10; /* Ensure it stays above the scrollable messages */
  }

  
  .message-container {
    display: flex;
    align-items: flex-start;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
  }

  .message-container.sent {
    justify-content: flex-end;
  }

  .message-container.received {
    justify-content: flex-start;
  }

  .message {
    max-width: 60%;
    padding: 10px;
    border-radius: 15px;
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .message.sent {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    align-self: flex-end;
    text-align: right;
  }
  
  .message.received {
    background-color: #1d3249;
    color: #fff;
    align-self: flex-start;
    text-align: left;
  }

  .message-text {
    font-size: 14px;
    margin: 0;
  }

  .message-timestamp {
    font-size: 10px;
    opacity: 0.7;
    margin-top: 5px;
    align-self: flex-end;
  }
  
  .chat-input {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
  }
  
  .chat-input input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--text-color);
  }
  
  .chat-input button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
  }

  .chat-input button:hover {
    background-color: var(--button-bg-color-hover, #0056b3); /* Optional hover color */
  }
  


  .likes-and-matches-container {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .profiles-wrapper-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /*relative*/
    padding: 0 20px;
  }
  

  
  .profile-picture-messages {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-background-messages {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 123, 255, 0.5);
    padding: 2px;
  }
  
  .profile-name-messages {
    font-size: 10px;
    color: white;
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  }
  
  .nav-button-messages {
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.15s ease-in-out;
  }
  
  .nav-button-messages:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
  
  
  .profiles-messages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .profile-messages {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    background-color: var(--background-color-opposite);
    
  }

  .chat-header {
    position: sticky; 
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-color);
    
  }

  .chat-header-profile {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .chat-header-name {
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold;
    color: var(--text-color);
  }

  .chat-header-picture {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Keep it square */
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Ensure the image fits within the circle */
    border: 2px solid var(--button-bg-color); /* Optional: Add a border */
  }

  .no-permission-message {
    padding: 10px;
    margin-top: 10px;
    background-color: #ffe5e5;
    color: #d9534f;
    border: 1px solid #d9534f;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
  }

  @media (max-width: 1200px) {
    .profile-messages {
      flex: 0 1 calc(33.33% - 10px); /* 3 profiles per row */
    }
  }
  
  @media (max-width: 900px) {
    .profile-messages {
      flex: 0 1 calc(50% - 10px); /* 2 profiles per row */
    }
  }
  
  @media (max-width: 600px) {
    .profile-messages {
      flex: 0 1 calc(100% - 10px); /* 1 profile per row */
    }
  }