/* Profile Setup Page Styles */
.progress-bar {
  width: 94%; 
  background-color: #e0e0e0;
  height: 12px;
  margin-top: 98px;
  margin-left: auto;  /* Auto margin for horizontal centering */
  margin-right: auto; /* Auto margin for horizontal centering */
  border-radius: 5px; 
}

.progress {
  height: 100%;
  background-color: #007bff; /* Blue progress color */
  transition: width 0.3s ease-in-out;
  border-radius: 5px; /* Match the outer container rounding */ 
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

.profileSetupSelectButton {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.profileSetupSelectButton:hover {
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 86, 179, 0.5), inset 0 0 0 2px rgba(0, 86, 179, 0.5);
}

.profileSetupSelectButton.selected {
  background-color: #0057b31e; /* Light blue background when selected */
  border-color: #0056b3;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}
/* Selected button style */
.profileSetupSelectButton:focus {
  background-color: #0057b31e; /* Light blue background on hover */
  border-color: #0056b3; /* Light blue border on hover */
  outline: none;
  border-color: #007bff; /* Blue border */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Blue shadow */
}

.profileSetupSelectSlide {
  display: flex;
  flex-direction: column;  /* Stack items vertically */
  justify-content: center;  /* Center items vertically */
  align-items: center;  /* Center items horizontally */
  height: 80vh;  /* Full viewport height */
  text-align: center;  /* Optional: Center-align the text */
}

.profileSetupSelectSlide .nextbutton {
  background-color: #007bff;  /* Blue button color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  margin: 10px;
}

.profileSetupSelectSlide .nextbutton:hover {
  background-color: #0056b3;  /* Darker blue on hover */
}

.profileSetupDivider {
  width: 20%;            /* Adjust the width as needed */
  margin: 20px auto;      /* Adds margin to give space around the divider */
  border: 0;             /* Remove default border */
  height: 1px;           /* Thickness of the line */
  background-color: #ccc; /* Color of the line */
}

.profileSetupInput {
  width: 15%;
  padding: 12px 15px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;  /* Space between input and button */
}

.profileSetupInput:focus {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.birthdateinput select {
  width: 80px;
  padding: 8px;
  margin: 0 5px;
  font-size: 16px;
  border: 1px solid #007bff; /* Blue border */
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Blue shadow */
  background-color: white;
  color: #333;
  appearance: none; /* Removes default arrow */
  text-align: center;
}

.birthdateinput select:focus {
  outline: none;
  border-color: #0056b3; /* Darker blue for focus */
  box-shadow: 0 0 8px rgba(0, 86, 179, 0.5);
}

.birthdateinput select option {
  color: #333;
}

.styled-slider {
  width: 25%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

.styled-slider:hover {
  background: #ccc;
}

.styled-slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.styled-slider::-webkit-slider-thumb:hover {
  background: #0056b3;
  transform: scale(1.1);
}

.styled-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.styled-slider::-moz-range-thumb:hover {
  background: #0056b3;
  transform: scale(1.1);
}